@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arbutus&family=Bangers&family=Bungee&family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Eater&family=Fontdiner+Swanky&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nosifer&family=Noto+Sans+Glagolitic&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Tangerine:wght@400;700&display=swap');

body{
    background-image: url(heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#preloader{
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: opacity 0.8s ease;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background: white;
    height: 100vh;
    background-color: rgb(254, 196, 206);
}

#preloader img{
    height: 180px;
    width: auto;
    margin-bottom: 8px;
    margin-left: 30px;
}

.progress-bar{
    width: 230px;
    background: rgb(102, 102, 102);
    overflow: hidden;
    height: 35px;
    border-radius: 20px;
}

.progress{
    width: 0%;
    height: 100%;
    animation: loadBar 2s ease-in-out forwards;
    background: linear-gradient(90deg, #ff7a7a, #ff7a7a);
}

@keyframes loadBar {
    0% { width: 0%; }
    100% { width: 100%; }
}

.fade-out{
    opacity: 0;
}

.scrolling-text{
    display: flex;
    background-color: rgb(255, 27, 114);
    position: fixed;
    width: 100%;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    top: 0;
    left: 0;
}

.scrolling-content{
    display: inline-flex;
    align-items: center;
    animation: scrollText 12s linear infinite;
    position: relative;
}

.scrolling-text p{
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: white;
}


.scrolling-text img{
    height: 25px;
    width: auto;
}

@keyframes scrollText{ 
    0% {
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.container h1{
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding-bottom: 35px;
}

.background-image{
    box-shadow: 0 50px 100px rgb(0, 0, 0);
    width: 780px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border-radius: 30px;    
    position: absolute;
    z-index: -1;
}

.gift-page{
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 650px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
}

.gift-page p{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: white;
}


.flowers-page{
    background-color: rgb(255, 144, 162);
    transition: transform 0.3s ease-out;
}

.flowers-page:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transform: translateY(-8px); /* slight lift for realism */
}

.letter-page{
    background-color: rgb(255, 144, 162);
    transition: transform 0.3s ease-out;
}

.letter-page:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    transform: translateY(-8px); /* slight lift for realism */
}

.flowers-page img{
    height: 250px;
    width: 230px;
    object-fit: fill;
}

.letter-page img{
    height: 250px;
    width: 230px;
    object-fit: fill;
}

@media screen and (max-width: 480px) {
    body{
        background-color: rgb(254, 196, 206);
        background-image: none;
        overflow-x: hidden;
    }

    .container{
        margin-top: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .container h1{
        margin-top: 0;
        padding-bottom: 30px;
        font-size: 32px;
    }

    .gift-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .flowers-page img{
        height: 180px;
        width: 180px;
    }

    .letter-page img{
        height: 180px;
        width: 180px;
    }

    .background-image{
        width: 300px;
        height: 700px;
        box-shadow: none;
    }
}
